<footer>
    <div class="social-links">
        <div class="facebook">
            <a href="">facebook icon</a>
        </div>
        <div class="twitter">
            <a href="">twitter icon</a>
        </div>
        <div class="linkedin">
            <a href="">linkedin icon</a>
        </div>
        <div class="instagram">
            <a href="">instagram icon</a>
        </div>
    </div>
    <ul>
        <li><a asp-page="./Contact">Contact Us</a></li>
        <li><a asp-page="./CodeOfConduct">Code of Conduct</a></li>
        <li><a asp-page="./Services">Services</a></li>
    </ul>
    <div class="tag-line">
        Tech Professionals, Fast Solutions, One Weekend, Crafted with <span class="heart-icon"><3</span> in West Michigan
        <div class="copyright">
            &copy; @DateTime.Today.Year Code for Good West Michigan
        </div>
    </div>
</footer>