<footer>
    <ul class="social-links">
        <li class="facebook">
            <a href="https://www.facebook.com/GRGiveCamp"><i class="fab fa-facebook-square"></i></a>
        </li>
        <li class="twitter">
            <a href="https://twitter.com/grgivecamp"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="linkedin">
            <a href=""><i class="fab fa-linkedin"></i></a>
        </li>
        <li class="instagram">
            <a href=""><i class="fab fa-instagram"></i></a>
        </li>
    </ul>
    <ul class="nav-links">
        <li><a asp-page="./contact">Contact Us</a></li>
        <li><a asp-page="./code-of-conduct">Code of Conduct</a></li>
    </ul>
    <div class="shaded-block">
        <div class="tag-line">
            Tech Professionals, Fast Solutions, One Weekend, Crafted with <span class="heart-icon" title="love"><i class="fas fa-heart"></i></span> in West Michigan
        </div>
        <div class="copyright">
            &copy; @DateTime.Today.Year Code for Good West Michigan
        </div>
    </div>
</footer>