<footer>
    <ul class="social-links">
        <li class="facebook">
            <a href="https://www.facebook.com/codeforgoodwm"><i class="fab fa-facebook-square"></i></a>
        </li>
        <li class="twitter">
            <a href="https://twitter.com/codeforgoodwm"><i class="fab fa-twitter"></i></a>
        </li>
    </ul>
    <ul class="nav-links">
        <li><a asp-page="./contact">Contact Us</a></li>
        <li><a asp-page="./code-of-conduct">Code of Conduct</a></li>
    </ul>
</footer>