<div>
    <button id="menu-toggle" class="menu-toggle" aria-haspopup="true">
        <i class="menu-toggle-icon fas fa-bars"></i><span class="menu-toggle-text">Menu</span>
    </button>
    <div id="menu" class="menu" aria-expanded="false">
        <a asp-page="./about">About</a>
        <a asp-page="./schedule">Schedule</a>
        <a asp-page="./code-of-conduct">Code of Conduct</a>
        <a asp-page="./Nonprofit-Agencies">Non-Profit Agencies</a>
        <a asp-page="./Volunteer">Volunteers</a>
    </div>
</div>