<nav>
    <h1 id="menu-toggle" class="menu-toggle">
        Menu
    </h1>
    <nav id="menu" class="menu">
        <a asp-page="./about">About</a>
        <a asp-page="./schedule">Schedule</a>
        <a asp-page="./code-of-conduct">Code of Conduct</a>
        <a asp-page="./Nonprofit-Agencies">Non-Profit Agencies</a>
        <a asp-page="./Volunteer">Volunteers</a>
    </nav>
</nav>