<div>
    <button id="menu-toggle" class="menu-toggle" aria-haspopup="true">
        <i class="menu-toggle-icon fas fa-bars"></i><span class="menu-toggle-text">Menu</span>
    </button>
    <div id="menu" class="menu" aria-expanded="false">
        <a asp-page="./Schedule">Schedule</a>
        <a asp-page="./NonprofitAgencies">Non-Profit Application</a>
        <a asp-page="./Volunteer">Volunteer Application</a>
        <a asp-page="./CodeOfConduct">Code of Conduct</a>
        <a asp-page="./Contact">Contact us</a>
    </div>
</div>