@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<div id="about-page">

    <h1>About</h1>

    <h2>Who We Are</h2>
    <p>Code for Good West Michigan is based in Grand Rapids, Michigan. We’re a volunteer-run group of technology professionals--designers, developers, strategists, marketers, database architects, and more--who donate our time to creating free technology solutions for 501(3) non-profit agencies.</p>

    <h2>What We Do</h2>
    <p>Our biggest event each year is Weekend for Good (this year, it will be held November 2-4, 2018), during which non-profit agencies with specific technology problems are matched with teams of skilled tech and design volunteers who pour their talents into solving those problems. In previous years, we’ve partnered with non-profits to create new websites, databases, marketing campaigns, branding overhauls, e-newsletters, social media strategies, and more.</p>
    <p>We also give back to the community beyond the Weekend for Good event, through workshops, additional volunteer projects, and more. We’d love to hear from you and discuss these opportunities further.</p>

    <h2>Non-Profit Agencies</h2>
    <p>Some organizations may need a new website or a renewal of an old one. For others, Weekend for Good volunteers help them make the leap from Excel spreadsheets to true donor databases. And for still others, this is an opportunity to think strategically, with the help of a consultant, about their social media presence or e-mail marketing. This is about matching the needs of non-profits with the talent of our local technology-loving community.</p>
    <p>Any 501(3) can apply to participate in Weekend for Good. Accepted non-profits will be matched with a project liaison prior to Weekend for Good who will help them shape their project and answer any critical questions to ensure the weekend is a success.</p>

    <div class="signup-cta">
        <h3>Would you like your non-profit agency to partner with us?</h3>
        <button>Sign Up Now</button>
        <p>A member of our Code for Good team will be in touch to get a conversation started. We hope to work with you!</p>
    </div>

    <h2>Volunteers</h2>
    <p>For volunteers, Weekend for Good provides a unique opportunity to connect with the local tech and design community. A typical Weekend for Good draws 100 to 150 volunteers. Individuals can work with their colleagues in company teams, or they can opt to be matched with fellow volunteers who have complementary skill sets.</p>
    <p>Everyone is welcome to head home for the evenings – but there are always the diehards who work from Friday kickoff straight through Sunday afternoon. Food and drinks, especially of the caffeinated variety, are provided, along with game systems for breaks.</p>

    <div class="signup-cta">
        <h3>Are you interested in volunteering with us?</h3>
        <button>Sign Up Now</button>
        <p>A member of our Code for Good team will be in touch to get a conversation started. We hope you’ll join us!</p>
    </div>

</div>