@page
@model codeforgood.Pages.GiveCampModel
@{
    ViewData["Title"] = "Grand Rapids Give Camp is now Code for Good West Michigan";
}
@section meta {
@*<meta http-equiv="refresh" content="6; url=/" />*@
}
<div id="gr-give-camp-page">
    <h1>Grand Rapids Give Camp is now Code for Good West Michigan</h1>
    <a asp-page="Index">
        <img class="gr-give-camp-logo" src="~/assets/GRGiveCamp.png" alt="Grand Rapids Give Camp"/>
        <i class="right-arrow-icon fas fa-arrow-alt-circle-right"></i>
        <img class="code-for-good-logo" src="~/assets/CodeForGoodWM_400x400.jpg" alt="Code for Good West Michiga"/>
    </a>
</div>