@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="home-page">
    <header class"menu-bar">
        <div class="logo">
            <img src="/assets/logo.png" alt="Code for Good West Michigan" />
            <h1>Code for Good</h1>
            <h2>West Michigan</h2>
        </div>
        <nav class="menu-toggle">
            <a href="#">Menu</a>
        </nav>
    </header>
    <section class="content">
        Content Goes Here
    </section>
    <footer>

    </footer>
</div>
