@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section nav {
    @* This hides the nav on the home page *@
}
<div id="home-page">
    <header>
        <div class="logo">
            <img src="/assets/logo.png" alt="Code for Good West Michigan" />
            <h1>Code for Good</h1>
            <h2>West Michigan</h2>
        </div>
        <nav class="menu-toggle">
            <a asp-page="./about">About</a>
            <a asp-page="./schedule">Schedule</a>
            <a asp-page="./code-of-conduct">Code of Conduct</a>
            <a asp-page="./Nonprofit-Agencies">Non-Profit Agencies</a>
            <a asp-page="./Volunteer">Volunteers</a>
        </nav>
    </header>
    <section class="hero">
        <div class="hero-overlay">
            <div class="cta-message">
                <h3>Proudly giving to those who give!</h3>
                <a class="get-started-button">Get Started</a>
            </div>
        </div>
    </section>
    <section class="content">
        <h2>What is Code for Good?</h2>
        <p>We’re a volunteer-run collective of technology professionals in Grand Rapids, Michigan, dedicated to creating tech solutions for non-profit agencies. Our primary event is Weekend for Good in November, but we are involved with projects all year long. Interested in joining us? We’d love to hear from you.</p>

        <h2>What Is Weekend for Good?</h2>
        <p>Weekend for Good is the ripple effect in action: it’s a weekend-long event of technology and design volunteers donating their time, creating custom technology tools and solutions for non-profit agencies. In turn, those agencies create meaningful change here in Grand Rapids and around the globe.</p>
        <p>Web developers, designers, and strategists work together to amplify each non-profit’s mission, supporting the ever-widening reach of agencies’ good work.</p>

        <h2>Learn More + Join Us</h2>
        <div class="join-us-cta">
            <div class="left-side">
                Your agency uplifts others; Code for Good wants to help you do your good work well.
                <button>How can we help you?</button>
            </div>
            <div class="right-side">
                Share your talents and time with non-profits who do so much for so many.
                <button>Learn about volunteering</button>
            </div>
        </div>
    </section>
</div>
