@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="home-page">
    <section class="hero">
        <div class="hero-overlay">
            <div class="cta-message">
                <h2>Proudly giving to those who give!</h2>
                <a class="join-us-button" href="/volunteer">Volunteer</a>
            </div>

          <img class="circuit-left" src="~/assets/Circuits@2x.png" />
          <img class="circuit-right" src="~/assets/Circuits@2x.png" />
        </div>
    </section>
    <section class="content">
        <div class="what-is-code-for-good">
            <div class="wrapper">
                <div class="text-block">
                    <h2>What is Code for Good?</h2>
                    <p>We’re a volunteer-run collective of technology professionals in Grand Rapids, Michigan, dedicated to creating tech solutions for non-profit agencies. Our primary event is <strong>Weekend for Good</strong> in November, but we are involved with projects all year long. Want to help? <a asp-page="./volunteer">Let us know!</a>
                    </p>
                </div>
                <div class="button-block">
                    <div class="heart-stack">
                        <div class="call-out-text-over-heart">Can you help my non-profit?</div>
                    </div>
                    <a class="button" href="/nonprofit-agencies">Apply</a>
                </div>
            </div>
        </div>
        <div class="working-together">
            <img src="~/assets/working-together.jpg" alt="Working Together" />
        </div>
        <div class="what-is-weekend-for-good">
            <div class="wrapper">
                <div class="button-block">
                    <div class="heart-stack">
                        <div class="call-out-text-over-heart">I want to donate my time!</div>
                    </div>
                    <a class="button" href="/volunteer">Volunteer</a>
                </div>
                <div class="text-block">
                    <h2>Ok, What's Weekend for Good?</h2>
                    <p>Weekend for Good is an event held in collaboration with <a href="https://westmichigan.aiga.org/">AIGA West Michigan</a>. On <strong>@Model.WeekendForGoodDateRange</strong>, volunteers who are experts in software development, design and other fields donate their time to non-profits, creating custom software to further their charitable missions. In turn, those non-profits create meaningful change here in Grand Rapids and around the globe.</p>
                </div>
            </div>
        </div>
    </section>
</div>