@page
@model NonprofitAgenciesModel
@{
    ViewData["Title"] = "Non-Profit Agencies";
}
<div id="nonprofit-agencies-page">
    <div class="iframe-container">
        <iframe class="google-form" src="https://docs.google.com/forms/d/e/1FAIpQLSdYqFXOaTkv4HuBD6rcFv3q4NM9iZWOLX4aK8dYR36JtopXwA/viewform?usp=pp_url&entry.1982711788=Yes,+you+may+use+photos+and+video+of+us&embedded=true" width="100%" height="2000" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
</div>
