@page
@model NonprofitAgenciesModel
@{
    ViewData["Title"] = "Non-Profit Agencies";
}
<div id="nonprofit-agencies-page">

    <h1>Non-Profit Agencies Page</h1>

    <p>Welcome, we’re glad you’re here. We want to help you do your good work well.</p>

    <p>Is your website out of date? Do your clients or donors have a hard time finding you online? Do you wish you had an app...or an app that worked better? Do you need a new database, a new marketing strategy, or a branding refresh?</p>

    <p>Whether your technology needs are simple or complex, Code for Good West Michigan would like to help. During Weekend for Good on November 2-4, 2018, teams of skilled tech and design volunteers will donate their time and talents to create customized, sustainable technology solutions for select 501(3) non-profit agencies.</p>

    <p>Contact us now, and a member of our team will be in touch to get a conversation started about your needs and how you can apply to partner with us.</p>

    <a href="http://www.google.com">Non-Profit Contact Form Placeholder Link</a>

    <p><b>NEW FOR 2018:</b> We’re also planning additional volunteer projects throughout the year. We look forward to discussing possibilities with you further.</p>

</div>
