@page
@model ParticipantAgreementModel
@{
    ViewData["Title"] = "Participant Agreement";
}
<div id="participant-agreement-page">
    <div class="hero">
        <div class="hero-overlay">
            <h1>
                <div class="small-head">The Code for Good</div> Participant Agreement
            </h1>

            <img class="circuit-left" src="~/assets/Circuits@2x.png" alt="Circuits" />
            <img class="circuit-right" src="~/assets/Circuits@2x.png"  alt="Circuits" />
        </div>
    </div>
    <div class="coc">
        <div><h2>Purpose</h2>
            <p>Code for Good West Michigan (“Code for Good”, “we”, “us”, and “our”) is a Michigan nonprofit corporation. We are a volunteer-run collective of technology professionals dedicated to creating technical solutions for nonprofit agencies. We depend on volunteers like you who are experts in software development, design and other fields who desire to donate their time to nonprofits in order to create custom software to further their charitable missions. In turn, those nonprofits create meaningful change here in Grand Rapids and around the globe. In order to ensure that the beneficiaries of our work will have the necessary rights to use the software we create, it is important for us to establish a clear understanding of our respective rights and our beneficiaries’ rights in the software that you contribute. For this reason, you and Code for Good hereby agree as follows:</p>
        </div>
        <div>
            <h2>Definitions</h2>
            <ul>
                <li>“Beneficiary” means an organization for whom Code for Good provides software or services.</li>
                <li>“Beneficiary Materials” means Materials owned or licensed by a Beneficiary and all Intellectual Property rights therein.</li>
                <li>“Code for Good Materials” means Materials owned or licensed by Code for Good and all Intellectual Property rights therein.</li>
                <li>“Confidential Information” means all nonpublic information of or about Code for Good or any Beneficiary, including any trade secrets, logins, and passwords, as well as any internal data, processes, and strategies, including financial and marketing information.</li>
                <li>“Intellectual Property” means (i) patents, patent disclosures and inventions (whether patentable or not), (ii) trademarks, service marks, trade dress, trade names, logos, corporate names, and domain names, whether registered or unregistered, and, in each case, associated goodwill, (iii) copyrights and copyrightable works (including computer programs), and rights in data and databases, whether registered or unregistered, (iv) trade secrets, know-how, and other Confidential Information, and (v) all other intellectual property rights whether registered or unregistered and including all applications for, and renewals or extensions of, such rights, and all similar or equivalent rights or forms of protection in any part of the world.</li>
                <li>“Materials” means source code, object code, documentation, data, know-how, technology, methods, designs, specifications, prototypes, and other materials relevant to the production of software and information systems.</li>
                <li>“Your Contributions” means Your Work Product and any of Your Materials that are incorporated into software or information systems produced by or under the direction of Code for Good or in the course of Code for Good events and activities.</li>
                <li>“Your Materials” means Materials owned or licensed by you and all Intellectual Property rights therein, including Materials produced, acquired, or licensed by you apart from your participation in Code for Good events and activities in any form.</li>
                <li>“Your Work Product” means Materials produced by you, alone or jointly with others, in the course of a Project.</li>
            </ul>
        </div>
        <div>
            <h2>Term and termination</h2>
            <p>This Agreement takes effect when you begin participating in Code for Good events and activities and remains in effect for so long as you continue participating (the “Term”). However, sections 4, 5, 6, 7, 8, 9, 10, and 11 of this Agreement will survive in perpetuity, regardless of termination.</p>
        </div>
        <div>
            <h2>Nature of Services</h2>
            <p>Your services to Code for Good, as well as to all Beneficiaries in the context of Code for Good events and activities, are on a volunteer basis and not in exchange for compensation in any form. Likewise, Your Contributions are donations and are not in exchange for compensation in any form. No expenses will be reimbursed except if pre-approved by Code for Good in writing and substantiated by receipts or invoices. Code for Good is not responsible for any other fees, costs or expenses.</p>
        </div>
        <div>
            <h2>Intellectual property</h2>
            <p>Each Beneficiary is and will remain the sole and exclusive owner of all right, title and interest in and to its respective Beneficiary Materials. Code for Good is and will remain the sole and exclusive owner of all right, title and interest in and to any Code for Good Materials. Unless otherwise authorized, you may not use Beneficiary Materials or Code for Good Materials except during the Term and to the extent necessary to achieve the goals of Code for Good and its Beneficiaries. As between you, Code for Good, and any Beneficiary, you are and will remain the sole and exclusive owner of Your Materials, subject to the License set forth below.</p>
            <p>You hereby grant Code for Good a non-exclusive, perpetual, irrevocable, fully paid-up, royalty-free, transferable, sublicensable license throughout the universe to access, use, perform, display, execute, reproduce, transmit, distribute, modify, create derivative works, and otherwise exploit Your Contribution in any manner whatsoever, and for any and all purposes (the “License”). In particular, but without limitation, Code for Good may freely distribute Your Contribution to any Beneficiary or to the general public on any terms and conditions, or free of any terms or conditions, as Code for Good see fit in its sole discretion. Upon Code for Good's request, or upon request of any transferee or sublicensee of Your Contribution, you will promptly take such further actions, including execution and delivery of appropriate written instruments, as may be necessary to assist Code for Good, or any transferee or sublicensee, to secure, perfect, register, or record its rights in Your Contribution.</p>
        </div>
        <div>
            <h2>Confidential Information</h2>
            <p> You will refrain from directly or indirectly disclosing or otherwise revealing Confidential Information to any third party without the prior written consent of Code for Good. You will use Confidential Information only as needed to achieve the goals of Code for Good and its Beneficiaries. Upon termination of this Agreement, you will return all Confidential Information to its owner.</p>
        </div>
        <div>
            <h2>Representations and Warranties</h2>
            <p>You represent and warrant that you will comply with all applicable laws and regulations and our Code of Conduct in the course of Code for Good events and activities. You further represent and warrant that Your Contributions do not and will not infringe or misappropriate the Intellectual Property of any third party.</p>
        </div>
        <div>
            <h2>Waiver</h2>
            <p>To the fullest extent permitted by law, you hereby forever and irrevocably waive all claims and causes of actions of every kind in every jurisdiction throughout the universe arising directly or indirectly from the exercise of rights granted by you in this agreement.</p>
        </div>
        <div>
            <h2>Assumption of the Risk</h2>
            <p>Code for Good events and activities may be open to the public. code for good does not vet participants. code for good events and activities may involve electrical and electro-mechanical devices. the premises on which code for good events and activities take place may contain stairways, balconies, nearby bodies of water, and other man-made or natural features that could pose a danger. the foregoing circumstances, as well as others not listed, may be hazardous. you acknowledge that your participation in code for good events is at your own risk. You voluntarily assume all risk of loss, injury or death (collectively, “losses”) arising in connection with code for good events.</p>
        </div>
        <div>
            <h2>Release and Indemnification.</h2>
            <p>To the fullest extent permitted by law, you hereby forever and irrevocably release code for good and its directors, officers, organizers, advisors, employees, contractors, agents, volunteers, representatives, and sponsors (collectively, the “releasees”) for all losses in connection with code for good events and activities, regardless of whether such losses were foreseeable and regardless of the type, timing, or manner of causation of such losses or the theory of liability (whether in negligence, misconduct, contract, indemnity, or otherwise). You further agree to indemnify, defend, and hold the releasees harmless from and against all third-party claims and liabilities for losses in connection with your participation in code for good events and activities.</p>
        </div>
        <div>
            <h2>Publicity and use of materials</h2>
            <p>While you participate in Code for Good events and activities and while you are on or near the premises where Code for Good events or activities take place, you authorize Code for Good or others on its behalf to take photographs, video recordings, and audio recordings of you. You hereby forever and irrevocably assign to Code for Good your entire right, title, and interest in and to all such recordings and grant Code for Good permission to use such recordings in its public postings and publicity releases.</p>
        </div>
        <div>
            <h2>Consent to be Contacted</h2>
            <p> You consent to being contacted by Code for Good via any form of communication for which you provide contact information.</p>
        </div>
        <div>
            <h2>Miscellaneous</h2>
            <p> This Agreement constitutes the sole and entire agreement of the parties with respect to its subject matter. This Agreement supersedes all prior and contemporaneous understandings and agreements, written and oral, with respect to its subject matter. This Agreement may not be modified except by a written instrument signed both parties. No waiver of any provision is effective unless expressly set forth in writing and signed by the party so waiving. If any term or provision is invalid or unenforceable in any jurisdiction, such invalidity or unenforceability will not affect any other term or provision. For purposes of this Agreement, (a) the word “including” is deemed to be followed by the words “without limitation”; (b) the conjunction “or” is not exclusive; and (c) the word “any” implies “all” and vice versa for broadest effect. This Agreement is to be construed without regard to any rule requiring interpretation against the drafter. This Agreement is governed by the internal laws of the State of Michigan without regard to any conflict-of-law provision or rule. You acknowledge that you have read and understood these Terms. IF YOU ARE LESS THAN 18 YEARS OF AGE, your parent or legal guardian acknowledges that he or she has read and understood these Terms and that he or she has agreed to these Terms on your behalf as well as on his or her own behalf. Your participation in Good for Good events or activities operates as your acceptance of this Agreement.</p>
        </div>
    </div>
</div>