@page
@model ScheduleModel
@{
    ViewData["Title"] = "Schedule";
}
<div id="schedule-page">
    <img class="circuit-left" src="~/assets/Circuits@2x.png" />
    <img class="circuit-right" src="~/assets/Circuits@2x.png" />
    <h1>Weekend for Good will be held</h1>
    <h2>@Model.WeekendForGoodDateRange</h2>
    <p>That weekend, volunteers who are experts in software development, design and other fields donate their time to non-profits, creating custom software to further their charitable missions. Whether you're an expert or no, we need your help!</p>
    <div class="action-buttons">
        <a class="button" asp-page="./volunteer">Volunteer</a>
    </div>
</div>