@page
@model ThankYouModel
@{
    ViewData["Title"] = "Thank You";
}

<div id="contact-page">
    <img class="circuit-left" src="~/assets/Circuits@2x.png" />
    <img class="circuit-right" src="~/assets/Circuits@2x.png" />
    <div class="contact-info-block">
        <h1><i class="fas fa-envelope-square"></i> Email Sent</h1>

        Thanks for contacting us
    </div>
</div>