@page
@model VolunteerModel
@{
    ViewData["Title"] = "Volunteer";
}
<div id="volunteer-page">

    <h1>Volunteer Page</h1>

    <div>
        <h3>Volunteering all year</h3>

        <p>
            While Weekend for Good happens November 2-4, 2018 (and we hope to see you there), we’re looking for volunteers to help with ongoing Code for
            Good projects big and small--all year long.
        </p>
    </div>

    <a href="http://www.google.com">Volunteer Sign Up Placeholder Link</a>

    <div>
        <h3>Why volunteer?</h3>

        <p>Are you a web developer, database administrator, designer, or application architect?</p>
        <p>Do you have a passion for strategic solutions, human-centered technology, or finding the perfect words to breathe life into written content?</p>
        <p>If so, we need you.</p>
        <p>Your support can help a local non-profit agency contribute to the West Michigan community and worldwide.</p>
    </div>

    <div>
        <h3>What can you expect during Weekend for Good?</h3>

        <p>
            You can expect to make a difference. The non-profit agencies we serve and the causes they serve will benefit from your talent and dedication.
            We’ll spend a weekend contributing to people who spend every day improving our world. (We should also mention that as a volunteer, you can expect food.
            Lots of food. And hard work.)
        </p>

        <p>
            The Code for Good team will match your skill set with a project and volunteer team, putting your skills to excellent use. During Weekend for Good, you’ll
            work side-by-side with local tech and design pros, building and designing custom solutions for the non-profit agencies we serve.
        </p>

        <p>
            Weekend for Good draws between 100 to 150 volunteers who want to give back to the local community. Our teams create websites, databases, applications,
            social media strategies, marketing and branding campaigns, and so much more.
        </p>
    </div>

    <div>
        <h3>Non-technical volunteers</h3>

        <p>
            You don’t have to be a tech or design guru to be part of Weekend for Good: we also need non-technical volunteers to make the weekend a success.
            Whether you can offer a couple hours of your time or join Weekend for Good for a couple days, your support is key. Let us know how you’d like to contribute.
        </p>

        <p>
            <b>
                If you would like to volunteer with Weekend for Good--or any project with Code for Good--please contact us right away, and one of the Code for Good team
                members will reach out to discuss your skill set and where you might fit into the big picture.
            </b>
        </p>
    </div>

    <a href="http://www.google.com">Volunteer Sign Up Placeholder Link</a>

</div>
