@page
@model VolunteerModel
@{
    ViewBag.Title = "Volunteer Sign-up";

    var dateRange = Model.DateRange;
}
<div id="volunteer-page">
    <div class="iframe-container">
        <iframe class="google-form" src="https://docs.google.com/forms/d/e/1FAIpQLSfiY_8rJdJNcHRr68k_CDfifYh34dZ3xbNwfdFCl7CLMaDssA/viewform?usp=pp_url&entry.2113893001=Yes,+you+may+use+photos+and+video+of+me&embedded=true" width="100%" height="3000" frameborder="0" marginheight="0" marginwidth="0" scrolling="yes">Loading...</iframe>
    </div>
    <div class="closing-block">
        <p>
            While Weekend for Good happens @($"{dateRange.From:MMMM d}-{dateRange.To:d, yyyy}") (and we hope to
            see you there), we’re looking for volunteers to help with other Code
            for Good projects all year long.
        </p>
        <p>
            <a asp-page="./Contact">Contact us</a>
            if you'd like to volunteer some other time or in some other
            capacity.
        </p>
    </div>
</div>