@page
@model codeforgood.Pages.WeekendForGoodModel
@{
    ViewData["Title"] = "Weekend For Good";

    var dateRange = Model.WeekendForGoodDateRange;
}
<div id="weekend-for-good-page">
    <div class="hero-banner">
        <div class="wfg-banner">
            <div class="wfg-box">
                <div class="wfg">
                    WFG
                </div>
            </div>
            <div class="wfg-title">
                <h1>
                    Weekend<br/>
                    for <span class="the-word-good">Good</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="date-banner">
        @($"{dateRange.From:MMM. d}-{dateRange.To:d yyyy}")
    </div>
</div>