$color-white: #ffffff;
$color-snow: #fffafa;

$color-brand-dark: #383d59;
$color-brand: #51a596;

$color-brand-accent: #78bfb8;
$color-accent: #c8ed40;

$bg-color-light: #e7f3f3;
$bg-color-medium: #54b9a9;
$bg-color-dark: #009690;
