$color-white: #ffffff;
$color-snow: #fffafa;

$color-brand-dark: #3c405e;
$color-brand-dark-hover: #646a96;

$color-brand: #8eccd1;
$color-brand-hover: #a8dde2;

$color-brand-accent: #ea5c51;
$color-brand-accent-hover: #f67a70;

$color-value-5: #faffff;
$color-value-4: #e7f3f3;
$color-value-3: #c5c6cf;
$color-value-2: #757687;
$color-value-1: #111a36;

$color-white-font: $color-white;
$color-light-font: $color-value-5;
$color-dark-font: $color-brand-dark;
$color-black-font: $color-value-1;

$bg-color-light: $color-value-4;
$bg-color-medium: $color-brand;
