$color-white: #ffffff;
$color-snow: #fffafa;

$color-brand-dark: #3b4061;
$color-brand-dark-hover: #282e4d;

$color-brand: #53b9aa;
$color-brand-hover: #00958f;

$color-brand-accent: #7cced2;
$color-brand-accent-hover: #29a6b0;

$color-value-5: #faffff;
$color-value-4: #e7f3f3;
$color-value-3: #c5c6cf;
$color-value-2: #757687;
$color-value-1: #111a36;

$color-white-font: $color-white;
$color-light-font: $color-value-5;
$color-dark-font: $color-brand-dark;
$color-black-font: $color-value-1;

$bg-color-light: $color-value-4;
$bg-color-medium: $color-brand;
