#contact-page {
  @extend .page-container;
  position: relative;
  background-color: $bg-color-medium;
  color: $color-white;
  padding: 2rem 6rem;

  @media(max-width: 800px) {
    padding: .5rem 2rem 2rem;
  }

  @media(max-width: 600px) {
    padding: 0;
  }

  form {

    textarea {
      width: 100%;
    }

    button {
      @extend .dark-button;
    }
  }

  .contact-info-block {
    margin: 2rem 0;
    padding: 2.4rem 3rem;
    background-color: $color-white;
    color: $color-dark-font;
    border-radius: 0.5rem;

    h1 {
      @extend .type-bold;
    }

    @media(max-width: 600px) {
      margin: 0;
      border-radius: 0;
    }
  }

  .email-contact-list {
    @extend .list--unstyled;
    padding: 0 3rem;
    margin: 0;

    @media(max-width: 600px) {
      padding: 2.4rem 3rem 1rem;
    }

    li {
      @extend .list__item;
      margin-bottom: 2rem;

      strong {
        font-size: larger;
      }

      address {
        @extend .lead;
      }

      a {
        @extend .inverse-link;
      }
    }
  }
}
