// Declare app-level styles and variables here
@import "~tent-css/src/tent.scss";
@import "_colors";
@import "_fonts";

.page-container {
  @extend .container;
  clear: both;
}

.link-button {
  @extend .button, .button--filled;
  cursor: pointer;
  text-align: center;
}

.dark-button {
  @extend .link-button;
  background-color: $color-brand-dark;
  color: $color-white;

  &:hover,
  &:focus,
  &:active {
    background-color: $color-brand;
  }
}

.link {
  color: $color-brand-dark;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $color-brand;
    text-decoration: underline;
  }
}

.inverse-link {
  @extend .link;
  color: $color-white;

  &:hover,
  &:focus,
  &:active {
    color: $color-snow;
  }
}
