// Declare app-level styles and variables here
$scale-unit: 20;

@import "~tent-css/src/tent.scss";
@import "_colors";
@import "_fonts";


html {
  background-color: $color-brand-dark;
  height: 100%;
}

body {
  @extend body;
  background-color: #faffff;
  min-height: 100%;
}

html, body {
  font-family: $font-family-primary;
  font-size: 20px;
  
  @media(max-width: 500px) {
    font-size: 18px;
  }
}

.page-container-fluid {
  @extend .container--fluid;
}

.layout-container {
  @extend .container;
  position: relative;
  min-height: calc(100vh);
  max-width: 80rem;
  padding-bottom: 164px;
}

.page-container {
  clear: both;
}

.link-button {
  @extend .button, .button--filled;
  cursor: pointer;
  text-align: center;
}

.dark-button {
  @extend .link-button;
  background-color: $color-brand-dark;
  color: $color-white;
  border: none;
  transition: background-color 125ms;
  font-size: 1rem;

  &:hover,
  &:focus,
  &:active {
    background-color: $color-brand-dark-hover;
  }
}

.link {
  color: $color-brand-dark;
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    color: $color-brand-dark-hover;
  }
}

.link-medium {
  @extend .link;
  color: $bg-color-medium;

  &:hover,
  &:focus,
  &:active {
    color: $color-brand;
  }
}

.inverse-link {
  @extend .link;
  color: $color-white;

  &:hover,
  &:focus,
  &:active {
    color: $color-snow;
  }
}

.circuit-left {
  position: absolute;
  max-height: 150px;
  left: -50px;
  bottom: -10px;
  z-index: 100;

  @media(max-width: 600px) {
    display: none;
  }
}

.circuit-right {
  position: absolute;
  max-height: 150px;
  right: -50px;
  bottom: -10px;
  z-index: 100;
  transform: rotate(0.5turn);

  @media(max-width: 600px) {
    display: none;
  }
}