// Declare app-level styles and variables here
$scale-unit: 20;

@import "~tent-css/src/tent.scss";
@import "_colors";
@import "_fonts";

html {
  font-size: 20px;
  font-family: $font-family-primary;
}

body {
  @extend body;
  color: $color-brand-dark;
}

.page-container-fluid {
  @extend .container--fluid;
}

.page-container {
  @extend .container;
  clear: both;
}

.link-button {
  @extend .button, .button--filled;
  cursor: pointer;
  text-align: center;
}

.dark-button {
  @extend .link-button;
  background-color: $color-brand-dark;
  color: $color-white;

  &:hover,
  &:focus,
  &:active {
    background-color: $color-brand;
  }
}

.link {
  color: $color-brand-dark;
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    color: $color-brand;
  }
}

.link-medium {
  @extend .link;
  color: $bg-color-medium;

  &:hover,
  &:focus,
  &:active {
    color: $color-brand;
  }
}

.inverse-link {
  @extend .link;
  color: $color-white;

  &:hover,
  &:focus,
  &:active {
    color: $color-snow;
  }
}
