@import "_colors";
@import "~tent-css/src/tent.scss";

footer {
    @extend .container;
    
    .tag-line {
        text-align: center;
        text-transform: uppercase;
        padding: 3rem;
        background-color: $color-brand;
        color: $color-white;

        .copyright {
            margin-top: 1rem;
        }
    }
}