footer {
  @extend .page-container;
  flex-shrink: 0;
  max-width: 80rem;
  color: $color-white;
  text-align: center;
  background-color: $color-brand-dark;
  margin-top: 2rem;

  a {
    @extend .inverse-link;
  }

  .social-links {
    list-style: none;
    margin: 0;

    li {
      display: inline-block;
      padding: 1.5rem 0.7rem 0.5rem;

      .fab {
        font-size: x-large;
      }
    }
  }

  .nav-links {
    list-style: none;
    padding-bottom: 1rem;
    margin-bottom: 0;

    li {
      display: inline;
      padding: 0;
      margin: 0;
      text-transform: uppercase;

      &:not(:last-child) {
        &:after {
          display: inline;
          padding: 0 0.8rem 0 1rem;
          content: "|";
        }
      }

      a {
        text-decoration: none;
      }
    }
  }
}
