#home-page {
    @extend .container;

    .menu-bar {
        background-color: $color-brand-dark;
        text-align: right;
        height: 60px;
    
        .logo {
            margin-left: 25px;
            float: left;
            text-align: center;
            background-color: $color-white;
            padding: 1rem;
            width: 220px;
            height: 167px;
            box-shadow: 0px 0px 40.18px 8.82px rgba(0, 0, 0, 0.26);
    
            h1 {
                margin: 0.5rem 0 0.1rem 0;  
                text-transform: uppercase;  
                font-size: 2.0rem;
            }
    
            h2 {
                margin: 0;
                text-transform: uppercase;
                font-size: 1.5rem;
            }
        }
    
        .menu-toggle {
            display: inline-block;
            margin: 1rem 25px;
    
            a {
                font-size: 1.5rem;
                text-transform: uppercase;
                color: $color-white;
            }
        }
    }

    .hero {
        background-image: url("/assets/hero-background.jpg");
    
        .hero-overlay {
            background-color:  rgba(110, 183, 172, 0.7);
            height: 560px;
            width: 100%;
        }
    
        .cta-message {
            float: right;
            position: relative;
            margin: 150px 4rem;
            max-width: 500px;
            text-align: center;
    
            h3 {
                text-transform: uppercase;
                font-size: 3rem;
                font-weight: 900;
                color: $color-white;
            }
        }
    
        .cta-button {
            width: 300px;
            height: 60px;
            background-color: $color-brand-dark;
            color: $color-white;
            font-size: 1.75rem;
            text-align: center;
        }
    }
}