$utilitybar-height: rem(60px);

#home-page {
  @extend .page-container;

  .hero {
    //background-image: url("/assets/hero-background.jpg");

    .hero-overlay {
      background-color: rgba(110, 183, 172, 0.7);
      height: rem(420px);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .cta-message {
      max-width: rem(440px);
      text-align: center;

      h2 {
        font-size: 2.4rem;
        text-transform: uppercase;
        color: $color-white;
      }
    }

    .join-us-button {
      @extend .dark-button;
      width: rem(220px);
    }
  }

  .what-is-code-for-good,
  .what-is-weekend-for-good {
    .wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    h2 {
      @extend .type-bold;
      font-size: 1.8rem;
    }

    .button-block {
      margin-top: 2rem;
      flex: 1;
      min-width: 325px;
      padding: 2rem;
      background-color: $bg-color-medium;
      position: relative;
      min-height: 18rem;

      .heart-stack {
        display: flex;
        min-height: 10rem;
        align-items: center;
        justify-content: center;
        background-image: url("/assets/seafoam_heart.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 10rem;

        .call-out-text-over-heart {
          margin: 0rem auto;
          font-size: 1.5rem;
          font-weight: 700;
          color: $color-white-font;
          z-index: 250;
          text-align: center;
        }
      }

      .button {
        @extend .dark-button;
        position: absolute;
        bottom: 2rem;
        left: 3rem;
        right: 3rem;
      }
    }

    .text-block {
      margin-top: 2rem;
      flex: 2;
      padding: 3rem;
      min-width: 325px;
      background-color: $bg-color-light;

      a {
        @extend .link-medium;
      }
    }
  }

  .working-together {
    margin-top: 2rem;
    img {
      width: 100%;
    }
  }
}

@media (max-width: #{map-get($breakpoints, md)}) {
  .what-is-code-for-good,
  .what-is-weekend-for-good {
    margin: 2rem 0 !important;
  }

  .what-is-weekend-for-good {
    .text-block {
      order: 1;
    }
    .button-block {
      order: 2;
    }
  }
}
