#lead-for-good-page {
  @extend .page-container;

  .lead-for-good-title {
    display: none;
  }

  .hero-banner {
    text-align: center;

    img {
      width: 100%;
    }
  }

  .register-block {
    border-top: 2px solid $bg-color-medium;
    border-bottom: 1px solid $color-brand-accent;
    padding: 2rem;
    background-color: $bg-color-light;
    text-align: center;

    a {
      font-size: larger;
    }
  }

  .photo-block {
    width: 40%;

    img {
      width: 100%;
    }
  }

  .text-block {
    width: 60%;
    padding: 5rem;

    h2 {
      @extend .type-bold;
      font-size: 1.8rem;
    }
  }

  .what-is-code-for-good,
  .what-is-lead-for-good,
  .call-to-action-links {
    display: flex;
    flex-wrap: wrap;
  }

  .what-is-code-for-good {
    .text-block {
      border-top: 2rem solid $color-brand-dark;
    }
  }

  .location-address {
    font-weight: bold;
    padding: 1rem 1rem 2rem;

    a {
      color: $color-brand-accent;

      &:hover, &:focus {
        color: $color-brand-accent-hover;
      }
    }
  }

  .lead-for-good-name {
    white-space: nowrap;
  }

  .event-schedule {
    li {
      list-style: none;
      font-size: larger;
    }
  }

  .sponsor-block {
    text-align: center;

    .our-sponsors {
      display: flex;

      a {
        display: block;
        width: 50%;

        img {
          max-height: 100px;
        }
      }
    }
  }
}

@media (max-width: #{map-get($breakpoints, md)}) {
  #lead-for-good-page {
    .hero-banner {
      img {
        width: 100%;
      }
    }



    .what-is-code-for-good {
      flex-direction: column-reverse;
    }

    .what-is-code-for-good,
    .what-is-lead-for-good {

      .text-block {
        border-top: none;
      }
    }

    .photo-block {
      width: 100%;
    }

    .text-block {
      width: 100%;
      padding: 2rem;
    }
  }
}

@media (min-width: #{map-get($breakpoints, md)}) and (max-width: #{map-get($breakpoints, lg)}) {
  #lead-for-good-page {
    .hero-banner {
      img {
        width: 100%;
      }
    }

    .what-is-code-for-good,
    .what-is-lead-for-good {
      .text-block {
        border-top: none;
      }
    }

    .photo-block {
      width: 50%;
      background-color: $bg-color-light;
    }

    .text-block {
      width: 50%;
      padding: 2rem;
      font-size: smaller;
    }

    .lead-for-good-name {
      white-space: normal;
    }
  }
}
