$navbar-height: rem(60px);

nav {
  @extend .page-container-fluid;
  max-width: 80rem;
  margin: 0 auto;
  position: relative;
  background-color: $color-brand-dark;
  height: $navbar-height;

  .logo {
    margin-top: 0.55rem;
    margin-left: .7rem;
    float: left;
    height: rem(35px);

    @media (max-width: 400px) {
      display: none;
    }
  }

  .site-identity {
    @extend .title-set;
    text-align: left;
    float: left;

    h1 {
      @extend .type-bold;
      text-transform: uppercase;
      font-size: 1rem;
      color: $color-white;
      margin: 0.5rem 2rem 0rem .5rem;
      letter-spacing: 0.05rem;
    }

    h2 {
      margin: 0 0 0.25rem .5rem;
      text-transform: uppercase;
      font-size: 0.6rem;
      color: $color-white;
      letter-spacing: 0.08rem;
    }
  }

  .menu-toggle {
    position: absolute;
    right: 0;
    line-height: 0rem;
    padding: 1.5rem 1rem;
    display: block;
    text-transform: uppercase;
    color: $color-snow;
    cursor: pointer;
    user-select: none;

    .menu-toggle-icon {
      display: none;
      line-height: 0;
    }

    &:hover {
      background-color: $color-brand-dark-hover;
    }
  }

  .menu {
    display: none;
    position: absolute;
    float: right;
    right: 0;
    top: $navbar-height;
    z-index: 250;

    &.active-menu {
      display: block;
    }

    a {
      float: none;
      width: rem(250px);
      display: block;
      text-align: left;
      background-color: $color-brand-dark;
      color: $color-white;
      padding: 0.5rem 1rem;

      &:hover,
      &:focus,
      &:active {
        background-color: $color-brand-dark-hover;
      }
    }
  }
}

@media (max-width: #{map-get($breakpoints, md)}) {
  .menu-toggle-icon {
    display: inline-block !important;
  }

  .menu-toggle-text {
    display: none;
  }
}
