nav {
  background-color: $color-brand-dark;
  height: 50px;

  .logo {
    margin-top: 0.25rem;
    margin-left: 1rem;
    margin-right: 1rem;
    float: left;
    width: rem(71px);
    height: rem(60px);
  }

  .site-identity {
    @extend .title-set;
    text-align: left;
    float: left;

    h1 {
      text-transform: uppercase;
      font-size: 1rem;
      color: $color-white;
    }

    h2 {
      margin: 0;
      text-transform: uppercase;
      font-size: 0.8rem;
      color: $color-white;
    }
  }

  .menu-toggle {
    display: inline-block;
    margin: 1rem rem(25px);

    a {
      font-size: 1.5rem;
      text-transform: uppercase;
      color: $color-white;
    }
  }
}
