#nonprofit-agencies-page {
  @extend .page-container;

  .iframe-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 50%;

    @media (max-width: 800px) {
      min-height: 667px;
      padding-bottom: 100%;
    }
  }

  .google-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
