#volunteer-page {
  @extend .page-container;

  iframe {
    display: block;
  }

  .closing-block {
    padding: 3rem 2rem;
    background-color: $color-brand;
    color: $color-white;

    a {
      color: $color-white;
      text-decoration: underline;
    }

    p {
      max-width: 640px;
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
