#weekend-for-good-page {
  @extend .page-container;

  .hero-banner {
    margin: 3rem auto;
    text-align: center;

    img {
      width: 40%;
    }
  }

  .date-banner {
    clear: both;
    background-color: $color-brand-accent;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    padding: 1rem;
  }

  .partnership-banner {
    background-color: $color-value-4;
    padding: 6rem;

    .a-partnership-with {
      @extend .type-bold;
      font-size: larger;
    }

    .layout-wrapper {
      padding: 1rem;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: space-between;
      flex-direction: row;
    }

    img {
      width: 100%;
    }

    .plus-icon {
      display: flex;
      align-items: center;

      .plus-text {
        padding: 0 2rem;
        text-align: center;
        font-size: 4rem;
        line-height: 4rem;
      }
    }
  }

  .photo-block {
    width: 40%;

    img {
      width: 100%;
    }
  }

  .text-block {
    width: 60%;
    padding: 5rem;

    h2 {
      @extend .type-bold;
      font-size: 1.8rem;
    }

    a {
      @extend .link-medium;
    }
  }

  .button-block {
    text-align: center;
    width: 50%;
    padding: 4rem 2rem;

    img {
      width: rem(150px);
      max-height: rem(150px);
    }

    h3 {
      @extend .type-bold;
      color: $color-brand-dark;
      padding: 1rem;
    }

    .button {
      @extend .dark-button;
      width: rem(225px);
    }
  }

  .what-is-code-for-good, .what-is-weekend-for-good, .call-to-action-links {
    display: flex;
    flex-wrap: wrap;
  }

  .what-is-code-for-good {
    .text-block {
      border-top: 2rem solid $color-value-4;
    }
  }

  .call-to-action-links {
    background-color: $color-value-4;
  }

  .location-address {
    clear: both;
    background-color: $color-brand-accent;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    padding: 1rem 1rem 2rem;
  }

  .weekend-for-good-name {
    white-space: nowrap;
  }
}

@media (max-width: #{map-get($breakpoints, md)}) {

  #weekend-for-good-page {

    .hero-banner {

      img {
        width: 90%;
      }
    }

    .partnership-banner {
      padding: 2rem;

      .layout-wrapper {
        padding: 1rem 0;
        display: block;
        text-align: center;
      }

      .plus-icon {
        display: block;
        text-align: center;
      }

      .code-for-good-logo, .plus-icon, .aiga-wm-logo {
        width: 100%;
      }
    }

    .what-is-code-for-good, .what-is-weekend-for-good {
      .text-block {
        border-top: none;
      }
    }

    .photo-block {
      width: 100%;
    }

    .text-block {
      width: 100%;
      padding: 2rem;
    }

    .button-block {
      width: 100%;
      padding: 2rem;
      margin: 1rem;
      border: 1px solid $color-brand-dark;

      .button {
        width: 100%;
      }
    }
  }
}

@media (min-width: #{map-get($breakpoints, md)}) and (max-width: #{map-get($breakpoints, lg)}) {

  #weekend-for-good-page {

    .hero-banner {

      img {
        width: 80%;
      }
    }

    .partnership-banner {
      padding: 1rem;
    }

    .what-is-code-for-good, .what-is-weekend-for-good {
      .text-block {
        border-top: none;
      }
    }

    .photo-block {
      width: 50%;
      background-color: $color-brand-accent;
    }

    .text-block {
      width: 50%;
      padding: 2rem;
    }

    .button-block {

      h3 {
        min-height: 7rem;
      }

      .button {
        width: 100%;
      }
    }

    .weekend-for-good-name {
      white-space: normal;
    }
  }
}
